html {
  font-size: 16px;
  /*font-family: "Helvetica", sans-serif;*/
  font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

/* HEADER */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
}

nav .logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 1.5rem;
  width: 2.5rem;
}

.logo span:first-of-type {
  font-weight: 700;
  color: #404040; /*Dark Gray*/
}

.logo span:last-of-type {
  font-weight: 300;
  color: #BEBEBE; /*Gray*/
}

nav .menu li {
  display: inline;
  padding-right: 1rem;
  font-size: 1.3rem;
  color: #404040; /*Dark Gray*/
}

.menu {
  margin-right: 0.5rem;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BEBEBE; /*Gray*/
}

.banner img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-text {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 5.5rem;
  color: #404040; /*Dark Gray*/
}

.banner-text h1 {
  font-weight: bold;
  font-size: 3em;
}

.banner-text h2 {
  font-size: 1.5em;
  line-height: 1.4;
}

.banner-text .btn {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  font-size: 1.2em;
  background-color: #404040; /*Dark Gray*/
}

/* MISC INFORMATION */
.misc-info {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F0F0F0; /*Very Light Gray*/
}

.left-image {
  margin: 2rem 1.5rem;
}

.misc-info-left img {
  max-width: 100%;
}

.misc-info-left-text {
  margin-left: 1.5rem;

}

.misc-info-left-text h1 {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 2.5em;
  color: #404040; /*Dark Gray*/
}

.misc-info-left-text p {
  margin-right: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.2;
  color: #404040; /*Dark Gray*//
}

.misc-info-left-text span {
  display: inline-block;
  margin-bottom: 2rem;
  color: #404040; /*Dark Gray*/
}

.lftborder {
  border-left: 1px solid #BEBEBE; /*Gray*/
}

.info-box {
  display: flex;
  align-items: center;
  width: 26.438rem;
  height: 10.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gray {
  background-color: #BEBEBE; /*Gray*/
}

.info-box img {
  width: 35%;
  margin: 1rem;
}

.box-content h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #404040; /*Dark Gray*//
}

.box-content p {
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 0.5rem;
  color: #404040; /*Dark Gray*//
}

.box-content span {
  color: #809fff;
}

.mobile-info {
  margin-bottom: 1rem;
}
.mobile-img {
  margin: 1rem;
}
.mobile-img img {
  max-width: 100%;
}

.mobile-box-content {
  margin-top: 1rem;
  margin-left: 1rem;
}

.mobile-box-content h3 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.75rem;
}

.mobile-box-content p {
  font-size: 1.5em;
  margin-bottom: 0.75rem;
}

.mobile-box-content span {
  font-size: 1.5em;
  color: lightblue;
  margin-bottom: 0.75rem;
}

/* START LEARNING*/
.learning-grid {
  background-color: #BEBEBE; /*Gray*/
  padding: 2rem;
}

/*.learning-grid h2 {*/
.section-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #404040; /*Dark Gray*/

}

.container {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.grid-box {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #FFF;
  width: 33%;
  color: #404040; /*Dark Gray*//
}

.grid-box-image img {
  max-width: 100%;
}

.grid-box-content {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;

}

.grid-box-content h3 {
  font-weight: bold;
  font-size: 1.5em;
}

.grid-box-content span {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.grid-box-content p {
  font-weight: lighter;
  margin-right: 1rem;
}

.mobile-learning {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mobile-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: lightgray;
  margin-bottom: 0.5rem;
}

/*THESIS EXHIBIT*/
.thesis {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #F0F0F0;
  border-bottom: 1px solid #BEBEBE;
}

.thesis h2 {
  padding-bottom: 2rem;
}

.thesis .misc-info-left-text h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #404040;
}

.left-video {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}
.left-video iframe {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #F0F0F0;
  color: #404040;
  font-weight: lighter;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer-menu li {
  display: inline;
  margin-right: .75rem;
}




@media only screen and (min-width: 470px) { /* Screens bigger than 800px */
  .alt-menu, .mobile-info, .mobile-learning {
    display: none;
  }

}

@media only screen and (min-width: 1024px) { /* Screens bigger than 1024px */
  .alt-menu, .mobile-info, .mobile-learning {
    display: none;
  }

}

@media only screen and (max-width: 470px) { /* Screens smaller than 470px */
  .menu, nav .logo, .misc-info-left, .misc-info-right, .container, .misc-info-left-text, .footer-menu  {
    display: none;
  }

  .alt-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .banner {
    display: block;
  }

  .banner img {
    display: none;
  }

  .banner-space {
    border: 1px solid gray;
    width: 100%;
    height: 11.25rem;
    background-color: gray;
  }

  .banner-text {
    margin: 2rem 1rem;
  }

  .banner-text h1 {
    margin-bottom: 2rem;
  }

  .banner-text h2 {
    margin-bottom: 1.5rem;
  }

  footer {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .copyright {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

}
